<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_application.name %>
</p>

<%= link_to 'Edit', edit_event_application_path(@event_application) %> |
<%= link_to 'Back', event_applications_path %>
